.light{
  background:whitesmoke;
  color:black;
}
.nigth{
  background: black;
  color: whitesmoke;
}


html{
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: bold;
}

@media(prefers-color-scheme:light){
  .dark .light-scheme{
    background: rgb(248, 232, 232);;
    color: rgb(19, 16, 16);
  }
  .light .light-scheme{
    background: black;
    color: whitesmoke;
  }
}

@media(prefers-color-scheme:dark){
  .light .night-scheme{
    background:rgb(23, 16, 16);
    color: rgb(158, 143, 143);
  }
  .night .night-scheme{
    background: black;
    color: whitesmoke;
  }
}